.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 45px var(--horizontal-space) var(--horizontal-space);
  align-items: center;
}

.screen-header__title {
  font-size: 26px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}
